@import '../../../variables';

header {
  position: relative;
  box-sizing: border-box;
  height: 6em;
  padding: 1em;

  img {
    @media (min-width: $mobile-cutoff) {
      float: left;
      height: 100%;
    }

    @media (max-width: $mobile-cutoff) {
      display: block;
      margin: auto;
      width: 80%;
      height: 100%;
    }
  }
}

nav {
  @media (min-width: $mobile-cutoff) {
    float: right;
    height: 100%;
  }

  @media (max-width: $mobile-cutoff) {
    position: absolute;
    height: 3em;
    width: calc(100% - 2em);
    top: 5em;
    text-align: center;
    margin: 0;
  }
}
