<div *ngIf="!isTraining()" class="train-tool">
  <p id="network-accuracy">Network Accuracy: {{ getNetworkAccuracy() }}%</p>
  <app-rounded-button
    id="train-button"
    [text]="'Train Network'"
    (click)="trainNetwork()"
  ></app-rounded-button>
</div>
<div *ngIf="isTraining()" class="train-tool">
  <p id="status">{{ getStatus() }}</p>
  <p id="progress">{{ getProgress() }}</p>
  <p id="accuracy">{{ getAccuracy() }}</p>
  <progress [value]="getPercentDone()" max="100"></progress>
  <app-rounded-button id="stop-button" [text]="'Stop'" (click)="stop()"></app-rounded-button>
</div>
