@import '../../../../variables';

.train-tool {
  @include tool-style;
  position: relative;
  grid-template-rows: $quarter $quarter $quarter $quarter;
  grid-template-columns: calc(100% - 9em) 8em;
  grid-template-areas: 'status status' 'progress progress' 'accuracy accuracy' 'bar stop';
}

#status {
  grid-area: status;
}

#progress {
  grid-area: progress;
}

#accuracy {
  grid-area: accuracy;
}

#train-button {
  grid-area: accuracy;
  width: 12em;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#stop-button {
  grid-area: stop;
}

#network-accuracy {
  grid-area: progress;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 2;
}

progress {
  grid-area: bar;
  width: 100%;
  height: 100%;
  bottom: 0;
}

progress::-webkit-progress-bar {
  background: $color-inactive;
  border-radius: 2em;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background: $gradient;
  border-radius: 2em;
}
