@import '../../../../variables';

#train-tool {
  position: relative;
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  padding: 2em;
}

p {
  font-size: 23px;
  padding-bottom: 0.5em;
}

progress {
  width: 100%;
}

progress::-webkit-progress-bar {
  background: $color-inactive;
  border-radius: 2em;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background: $gradient;
  border-radius: 2em;
}

button {
  position: absolute;
  transition: 0.2s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background: $gradient;
  padding: 0.6em 1em;
  font-size: 20px;
  border-radius: 2em;
  color: white;

  &:hover {
    filter: brightness(75%);
  }
}

#dimmed-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
