@import '../../../variables';

#canvas-container {
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: auto;

  @media screen and (max-width: $mobile-cutoff) {
    padding-top: 4em;
    overflow-y: hidden;
  }
}

#network-visual {
  height: 100%;
}
