#grid-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 6em calc(100% - 22em) 16em;
  grid-template-columns: 100%;
  grid-template-areas: 'header' 'network' 'toolbar';
}

app-header {
  grid-area: header;
}

app-toolbar {
  grid-area: toolbar;
}

app-network {
  grid-area: network;
}
