@import '../../../variables';

#toolbar {
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-areas: 'config train draw';
  column-gap: 1em;

  @media screen and (min-width: $mobile-cutoff) {
    background: $gradient;
    grid-template-columns: 22em auto 22em;
  }

  @media screen and (max-width: $mobile-cutoff) {
    grid-template-columns: $third $third $third;
  }
}

.mobile-background {
  @media screen and (max-width: $mobile-cutoff) {
    position: fixed;
    box-sizing: border-box;
    border-radius: 1.5em;
    transition: 0.2s;
    background: $gradient;
    width: 100%;
    height: 16em;
    bottom: -16em;
    left: 0;
    padding: 1em;
  }
}

app-network-config-tool {
  grid-area: config;

  @media screen and (max-width: $mobile-cutoff) {
    width: 100%;
    height: 100%;
  }
}

app-train-tool {
  grid-area: train;
}

app-draw-tool {
  grid-area: draw;
}

.show-tool {
  bottom: 4em;
}

#configure-button,
#train-button,
#draw-button {
  @media screen and (min-width: $mobile-cutoff) {
    display: none;
  }
}

#configure-button {
  grid-area: config;
}

#train-button {
  grid-area: train;
}

#draw-button {
  grid-area: draw;
}
