@import '../../../variables';

#toolbar {
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  grid-template-columns: 22em auto 22em;
  background: $gradient;
  grid-template-rows: 100%;
  grid-template-areas: "network-config training draw";
  column-gap: 1em;
  width: 100%;
  height: 100%;
}

app-network-config-tool {
  grid-area: network-config;
}

app-train-tool {
  grid-area: training
}

app-draw-tool {
  grid-area: draw;
}
