#toolbar {
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 4px;
  background: linear-gradient(to right, #15c1ff, #00e971);
  grid-template-rows: 100%;
  grid-template-areas: "network-config training draw";
  width: 100%;
  height: 100%;
}

app-network-config-tool {
  grid-area: network-config;
}

app-train-tool {
  grid-area: training
}
