<div id="network-config">
  <div id="network-size-input">
    <label for="network-size">Network Size:</label>
    <input [(ngModel)]="size" id="network-size" [class.not-valid]="!inputValidity[0]" type="text">
  </div>
  <div id="epoch-count-input">
    <label for="epoch-count">Epoch Count:</label>
    <input [(ngModel)]="epochCount" id="epoch-count" [class.not-valid]="!inputValidity[1]" type="text">
  </div>
  <div id="learning-rate-input">
    <label for="learning-rate">Learning Rate:</label>
    <input [(ngModel)]="learningRate" id="learning-rate" [class.not-valid]="!inputValidity[2]" type="text">
  </div>
  <app-rounded-button id="load" [text]="'Load'" (click)="loadNetworkPrompt.click()"
                      [disabled]="isTraining()"></app-rounded-button>
  <app-rounded-button id="save" [text]="'Save'" (click)="saveNetwork()"
                      [disabled]="isTraining()"></app-rounded-button>
  <app-rounded-button id="set" [text]="'Set'" (click)="setNetworkConfig()"
                      [disabled]="isTraining()"></app-rounded-button>
  <input id="load-network" type="file" style="display: none;" (change)="loadNetwork($event)" accept=".json">
</div>
