<div id="network-config">
  <div id="network-size-input">
    <label for="network-size">Network Size:</label>
    <input id="network-size" type="text">
  </div>
  <div id="epoch-count-input">
    <label for="epoch-count">Epoch Count:</label>
    <input id="epoch-count" type="text">
  </div>
  <div id="learning-rate-input">
    <label for="learning-rate">Learning Rate:</label>
    <input id="learning-rate" type="text">
  </div>
  <app-rounded-button id="load" [text]="'Load'"></app-rounded-button>
  <app-rounded-button id="save" [text]="'Save'"></app-rounded-button>
  <app-rounded-button id="set" [text]="'Set'"></app-rounded-button>

</div>
